/* AGENT_SHEET */
@-moz-document url-prefix(http://), 
               url-prefix(https://), 
               url-prefix(ftp://), 
               url-prefix(file://), 
               url(about:blank), 
               regexp("about:(?!addons|app-manager|config|customizing|stylish-edit|downloads|permissions|preferences|sync-tabs|webrtc).*")
{

  scrollbar
  {
    opacity: .75 !important;
  }

  *, ::before, ::after
  {
    color: #a89984 !important;
    border-color: #1d2021 !important;
    outline-color: #1d2021 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    /*-moz-box-shadow: none !important;*/
    background-color: transparent !important;
  }

  html *
  {
    color: inherit !important;
  }

  p::first-letter,
  h1::first-letter,
  h2::first-letter,
  p::first-line
  {
    color: inherit !important;
    background: none !important;
  }



/* Setting Solid Color Background */

  b,i,u,strong
  {
    color: #98971a;
  }

  html, 
  body,
  li ul,
  ul li,
  table,
  header,
  article,
  section,
  nav,
  menu,
  aside,

  [class*="nav"],        [class*="open"],
  [class*="ropdown"],    [class*="tooltip"],
  [id*="ropdown"],

  div[id*="popup"],      div[id*="detail"],
  div[class*="popup"],   div[class*="menu"],
  div[class*="content"], div[class*="container"],
  div[class*="detail"],  div[class*="description"], 
  div[class*="note"],    span[class*="note"],
  div[style*="display: block"], 
  div[style*="visibility: visible"]
  {
    background-color: #282828 !important;
  }



/* Disabling Background Images */

  /* :not(div[class="kix-equation-toolbar-icon"]) */
  *:not(:empty):not(span):not([class="html5-volume-slider html5-draggable"]):not([class="html5-player-chrome html5-stop-propagation"]):not([class*="kix-equation-toolbar-icon"]):not([class*="$
  *::before,
  *::after,
  td:empty,
  p:empty,
  div:empty:not([role]):not([style*="flashblock"]):not([class^="html5"]):not([class*="noscriptPlaceholder"])
  {
    background-image: none !important;
  }



/* Setting Image Opacity */

  img, svg
  {
    opacity: .75 !important;
    /* -webkit-filter: invert(83.5%); */
  }

  img:hover, svg:hover
  {
    opacity: 1 !important;
  }



/* Highlighting & Selections */

  ::-moz-selection
  {
    background-color: #ebdbb2 !important;
    color: #32302f !important;
  }

  ::selection
  {
    background-color: #ebdbb2 !important;
    color: #32302f !important;
  }



/* Website Links */

  a
  {
    color: #689d6a !important;
    background-color: #282828 !important;
    opacity: 1 !important;
    text-indent: 0 !important;
  }

  a:link
  {
    color: #458588 !important;
  }

  a:visited
  {
    color: #b16286 !important;
  }

  a:hover
  {
    color: #d79921 !important;
    background-color: #1d2021 !important;
  }

  a:active
  {
    color: #d65d0e !important;
  }



/* Top Level div */

  body > div
  {
    background-color: inherit !important;
  }



/* Text Presentation */

  summary, details
  {
    background-color: inherit !important;
  }

  kbd, time, label, .date
  {
    color: #98971a !important;
  }

  acronym, abbr
  {
    border-bottom: 1px dotted !important;
    cursor: help !important;
  }

  mark
  {
    background-color: #cc241d !important;
  }



/* Headings */

  h1,h2,h3,h4,h5,h6
  {
    background-image: none !important;
    /* background-color: #1d2021 !important; */
    border-radius: 5px !important;
    /*-moz-border-radius: 5px !important;*/
    -webkit-border-radius: 5px !important;
    text-indent: 0 !important;
  }

  h1,h2
  {
    color: #98971a!important;
  }

  h3,h4
  {
    color: #d79921!important;
  }

  h5,h6
  {
    color: #d65d0e!important;
  }



/* Tables */

  table table
  {
    background: #1d2021 !important;
  }

  th, caption
  {
    background: #282828 !important;
  }



/* Inputs */

  input, textarea, button,
  select,option,optgroup
  {
    color: #ebdbb2 !important;
    background: none #1d2021 !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
  }


  input,
  textarea, 
  button
  {
    border-color: #32302f !important;
    border-width: 1px !important;
  }



/* Buttons */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button
  {
    background: #1d2021 !important;
  }

  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover
  {
    color: #32302f !important;
    background: #ebdbb2 !important;
  }

  input[type="image"]
  {
    opacity: .85 !important;
  }

  input[type="image"]:hover
  {
    opacity: .95 !important;
  }



/* Google Drive */

  .a-jn-yd-J
  {
    background-color: #32302f !important; 
  }



/* Google Docs */

  .kix-selection-overlay {
    background-color: #ebdbb2 !important;
    color: #32302f !important;
    border-top: 1px solid #32302f !important;
    border-bottom: 1px solid #32302f !important;
    opacity: 0.20 !important;
    -moz-opacity: 0.20 !important;
    filter: alpha(opacity=20) !important;
    z-index: 20 !important;
  }

  .kix-page
  {
    outline: 1px solid #ebdbb2 !important;
  }

  .kix-cursor-caret
  {
    color: #ebdbb2 !important;
    outline-color: #ebdbb2 !important;
    border-color: #ebdbb2 !important;
  }

  .kix-equation-toolbar-icon
  {
    -webkit-filter: invert(100%);
  }

  .kix-equation-toolbar-palette-icon
  {
    -webkit-filter: invert(60%);
  }



/* uOttawa - Brightspace */
  .d2l-page-message-container
  {
    width: 0%;
  }



/* Lightbox fix */

  html [id*="lightbox"] *
  {
    background-color: transparent !important;
  }

  html [id*="lightbox"] img
  {
    opacity: 1 !important;
  }



/* Youtube Annotation */

  #movie_player-html5 .annotation
  {
    background: #1d2021 !important;
  }



/* addons shrink & expand sections */

  .expando a
  {
    background: none transparent  !important;
  }

}



@-moz-document url(about:newtab)
{

  window
  {
    background: #282828 !important;
  }

  #newtab-scrollbox
  {
    background: transparent none !important;
  }

  .newtab-title
  {
    background-color: rgba(0,43,54,1) !important;
    color: #a89984 !important;
  }
}



@-moz-document url(chrome://browser/content/browser.xul)
{

/* Browser Background */
  browser[type="content-primary"]
  {
    background-color: #282828 !important;
  }
}

